.login-section {
    /* background: linear-gradient(135deg, #74ebd5, #acb6e5); */
    min-height: 100vh;
    padding: 2rem;
}

.login-container {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .login-container {
        height: 100%;
    }
}

.login-image {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-divider::before,
.login-divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.login-input {
    font-size: 1rem;
}

.login-toggle-password {
    color: #007bff;
    background: none;
    border: none;
    font-size: 0.875rem;
}

.login-switch-btn {
    color: #007bff;
    text-decoration: none;
}

.login-switch-btn:hover {
    text-decoration: underline;
}

.login-message {
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
}

.password-toggle-icon {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	cursor: pointer;
	color: #6c757d;
	z-index: 10;
}
